@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Indie Flower', cursive;
}
body{
    background: #c8e9f4;
}
.quote-box{
    width: 500px;
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.quote-box h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    position: relative;
}
.quote-box h2::after{
    content:'';
    width:75px;
    height:3px;
    border-radius: 3px;
    background: rgb(121, 169, 220);
    position:absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 24px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content:'"';
}
.quote-box span{
    display: block;
    margin-top: 15px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content:'';
    width: 20px;
    height:2px;
    background: rgb(121, 169, 220);
    position:absolute;
    top: 50%;
    left: -30px;
}
.quote-box div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    background: rgb(121, 169, 220);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(121, 169, 220);
    width:150px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quote-box button img{
    width: 20px;
    margin-left: 10px;
}
.quote-box button:nth-child(2){
    background: transparent;
    color: #333
}